* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  font-size: 14px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 50ch;
}

.wrapper {
  width: 40%;
  height: auto;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px rgb(105, 99, 99);
  margin: 20px auto;
}

.form-chat {
  display: flex;
  justify-content: center;
}

.form-input {
  border: 1px solid #2929297e;
  border-radius: 5px;
  padding: 7px 5px;
  margin-right: 10px;
  outline: none;
  overflow-y: scroll;
}
.form-input:focus {
  border: 1px solid #2929297e;
}

.form-btn {
  border: none;
  background-color: #1ab5fd;
  padding: 0px 5px;
  width: 30%;
  cursor: pointer;
  border-radius: 5px;
}
.form-btn:hover {
  background-color: #3fd4df;
}

.wrapper-chat {
  overflow: auto;
  border: 1px solid #2929297e;
  border-radius: 5px;
  padding: 5px;
  margin-top: 12px;
  height: 400px;
}
.messages {
  border: 1px solid #2929297e;
  border-radius: 5px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 7px;
  align-self: flex-end;
}

.user-messages {
  display: flex;
  flex-flow: column wrap;
}
.server-messages,
a {
  cursor: pointer;
  color: #000000ec;
  font-weight: bolder;
  text-decoration: none;
}
.server-messages:hover,
a:hover {
  color: #0a7077;
}

.geo-location {
  margin-left: 6px;
}
